/* services card style */
.card{
    height: 300px;
    padding: 10px 5px;
    background-color: #212529;
    cursor: pointer;
}

.card:hover{
    background-color: #0dcaf0;
}

.card-logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-logo img{
    height: 80%;
    width: 80%;
}